<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubitar.capybara.mvvm">

    <application>
        <provider
            android:name="com.ubitar.capybara.mvvm.common.AppProvider"
            android:authorities="${applicationId}.mvvm.provider" />
    </application>
</manifest>
